{% extends 'portal/base.html' %}

{% block content %}
<div class="container">
{% if user.is_authenticated %}
  <h1>Patient Home</h1>
  {% if user.is_patient %}
  {% for patient in object_list %}
  {% if user.id == patient.user.id %}

  <h4>{{ user.first_name}} {{ user.last_name}}</h4>
  <p>Pregnancy Month {{ patient.pregnancy_month }}</p>
  {{ patient.choice }}

  <h3>Features</h3>
  <p>view pdf</p>
  <p>buy medicine</p>
  <p>schedule appointment</p>
  <p>view feed</p>
  <p>recommendations</p>
  {% endif %}
  {% endfor %}
  {% endif %}
  </div>
{% endif%}
{% endblock %}